<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Social helostoma temminckii |{% endblock title %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body class="has-background-light is-halfheight">
    <script src=" {{url_for('static', filename='js/funciones.js')}} "></script>
    <script src=" {{url_for('static', filename='js/validacion.js')}} "></script>       
    <header>
      {% include 'navbar.html' %}
    <header>
    {% for message in get_flashed_messages() %}
      <div class="notification is-success is-light has-text-centered">
        <button class="delete"></button>
        {{message}}
      </div>
    {%endfor%}
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
      {% include 'footer.html' %}
    <footer>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close.js') }}"></script>
  </body>
</html>
