{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Busqueda{% endblock title %}

<!--block content-->
{% block content %}

<form
  class="box"
  action="{{url_for('busqueda')}}"
  id="formSearch"
  method="post"
  name="formSearch"
>
  {{ form.hidden_tag() }}
<br>
<section class="section">
  <div class="container">
    <div class="field has-addons">
      <p class="control"></p>
      <p class="control is-expanded">
      <!--<input class="input is-medium" type="text" placeholder="Buscar amig@s" />     -->
      {{ form.usuario() }}
      </p>
      <p class="control">
      <!--<a class="button is-info is-medium"> Buscar </a>            -->
      {{ form.enviar() }}
      </p>
    </div>
  </section>
</form>

<section class="section">
  <div class="container">
    <div class="columns is-multiline has-text-centered">
      {% for row in row_info %}
      <div class="column is-6-tablet is-4-desktop">
        <a href="{{ url_for('perfil_bq',usuario_id=row["id"]) }}">
          <div class="box" style="height: 100%">
            <div class="level">
              <div class="level-item">
                <figure class="image is-128x128"><img class="is-rounded" src="{{ url_for('static', filename = 'images/'+row["image"]) }}" alt=""></figure>
              </div>
            </div>
            <h5 class="title is-5">{{ row["NAME_COMPLETE"] | truncate(20) }}</h5>
            <p class="subtitle is-6">{{ row["username"] }}</p>
            <p>{{ row["likes"] | truncate(100) }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
