{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Perfil{% endblock title %}

<!--block content-->
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <nav class="level is-mobile">
          <div class="level-item">
            <div>
              <figure class="image is-128x128">
                <img src="http://lorempixel.com/256/256/people" class="is-rounded">
              </figure>
            </div>
          </div>
          <div class="level-item">
            <div>
              <p class="heading">Publicaciones</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item">
            <div>
              <p class="heading">Amigos</p>
              <p class="title">123</p>
            </div>
          </div>
        </nav>
        <h1 class="title">{{ session["user"] }}</h1>
        <h2 class="subtitle">
          {{ session["about"] }}
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% for key, publicacion in lista_publicaciones.items() %}
      <div class="column is-6-tablet is-3-desktop">
        <div class="card" style="height: 100%">
          <div class="card-image">
            <a href="{{ url_for('detalle_pub',id_publicacion=key) }}"
              ><img src="http://lorempixel.com/1280/960/sports" alt=""
            /></a>
          </div>
          <div class="card-content">
            <div class="block">
              <small class="is-size-7"
                >24 octubre 2021 | {{ "@" + (publicacion.id_usuario) }}</small
              >
            </div>
            <h5 class="title is-6">
              <a href="{{ url_for('detalle_pub',id_publicacion=key) }}"
                >{{ publicacion.titulo }}</a
              >
            </h5>
            <p>{{ publicacion.contenido | truncate(150) }}</p>
            <nav class="level is-mobile">
              <div class="level-left">
                <a
                  href="{{ url_for('detalle_pub',id_publicacion=key) }}"
                  class="level-item"
                  aria-label="reply"
                >
                  <span class="small"> # Comentarios </span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{% endblock content %}
