{% extends 'base.html' %}

<!--block title-->
{% block title %}{{ super() }}Publicacion nueva{% endblock title %}

<!--block content-->
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{ url_for('publicacion') }}">Publicaciones</a></li>
            <li class="is-active">
              <a href="#" aria-current="page">Publicacion nueva</a>
            </li>
          </ul>
        </nav>

        <form action="" class="box">
          <h1 class="title">Publicacion nueva</h1>
          <h2 class="subtitle">
            Crea geniales publicaciones y comparte tus imagenes
          </h2>
          <div class="field">
            <label class="label">Titulo</label>
            <div class="control">
              <input class="input" type="text" placeholder="Titulo" />
            </div>
          </div>

          <div class="field">
            <label class="label">Imagen</label>
            <div class="control">
              <div id="file-js-example" class="file has-name">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="resume"
                    accept="image/*"
                  />
                  <span class="file-cta">
                    <span class="file-label"> Buscar imagen… </span>
                  </span>
                  <span class="file-name"> Ninguna imagen cargada </span>
                </label>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Contenido</label>
            <div class="control">
              <textarea class="textarea" placeholder="Escribe..."></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Publicar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const fileInput = document.querySelector("#file-js-example input[type=file]");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector("#file-js-example .file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
{% endblock content %}
